body {
    background-color: #181818; /* Dark background */
    color: white; /* White text for contrast */
    font-family: 'Roboto Mono', monospace; /* Applying Roboto Mono */
    margin: 0;
    padding: 0;
}


/* Style for the sidebar */
.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 200px; /* Sidebar width */
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
}

/* Style for the image buttons */
.sidebar a {
    margin: 15px 0; /* Slightly reduced margin to fit images better */
    display: block;
}

.sidebar img {
    width: 180px; /* Nearly full width of the navbar */
    height: auto;
    transition: transform 0.2s;
}

/* Hover effect */
.sidebar img:hover {
    transform: scale(1.05);
}

/* Content area to prevent overlap */
.content {
    margin-left: 220px; /* Adjusted for sidebar width */
    padding: 30px;
}
